<!-- <nav class="nav nav--dark"> //=nav bendras stilius, nav dark tiktai sau-->
<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu10"></use>
                </svg>
                <span><b>MINTON</b></span>
              </a>
            </li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">
            <li class="nav-bar__lists__link" style="display:flex">
              <a href="#" id="burger">
                <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
              </a>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">
                  <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu11"></use>
                  </svg>
                </button>
              </form>

          </li>
        </ul>
        <ul class="nav-bar__lists nav-bar__lists--right">
          <li class="nav-bar__lists__link">
            <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="svg-icon">
         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu2"></use>
              </svg>
            </a>
              <div class="dropdown-menu" aria-labelledby="activities">
                <a class="dropdown-menu__item" href="#">
                  <div class="circle">
                    <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu2" style="fill: black"></use>
                    </svg>
                  </div>
                  <div class="dropdown-menu__item__title">
                    <h5>Robert</h5>
                    <p>1 min</p>
                  </div>
                </a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
              </div>

          </li>
            <li class="nav-bar__lists__link">
              <a href="#" role="button" id="profile">
                <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu3"></use>
                </svg>
              </a>
            </li>
              <li class="nav-bar__lists__link">
                <a href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="svg-icon">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu4"></use>
                  </svg>
                </a>
                  <div class="dropdown-menu" aria-labelledby="notification">
                    <h6>Notification</h6>
                    <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#men"></use>
                    </svg>
                    <a class="dropdown-menu__item" href="#">
                      <div class="notification_circle notification_circle--success">
                        <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu17" style="fill: white"></use>
                        </svg>
                      </div>
                      <div class="dropdown-menu__item__title">
                        <h6>Robert S. Taylor commented</h6>
                        <p>1 minutes ago</p>
                      </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">Notification1</a>
                    <a class="dropdown-menu__item" href="#">Notification1</a>
                  </div>
              </li>
              <li class="nav-bar__lists__link">
                <a href="#" role="button" id="user" data-toggle="dropdown" data-offset="15,30" aria-haspopup="true" aria-expanded="false">
                <img class="boxes__image navbar__user__image" src="assets\images\user1.jpg" alt="">
                </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notification">
                    <h6>Welcome ! John</h6>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu12" style="fill: black"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Profile</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu13" style="fill: black"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Settings</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu14" style="fill: black"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Lock Screen</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu15" style="fill: black"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Logout</h6>
                            </div>
                    </a>
                  </div>

              </li>
        </ul>
    </nav>
</div>
