<!-- <nav class="nav nav--dark"> //=nav bendras stilius, nav dark tiktai sau nes kazka
  <ul class="nav__lists">
    <li><a class="nav__lists__link" href="#"></a></li>
  </ul>
</nav>
<nav class="nav nav--light"> //=nav bendras stilius, nav light tiktai sau nes kazka
  <ul class="nav__lists">
    <li><a class="nav__lists__link" href="#"></a></li>
  </ul>
</nav> -->



<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li><a class="nav-bar__lists__link" href="#">ADMIN</a></li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">
            <li class="nav-bar__lists__link">
              <a href="#">
                <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
              </a>
          </li>
        </ul>
        <ul class="nav-bar__lists nav-bar__lists--right">
            <li><a class="nav-bar__lists__link" href="#">btn</a></li>
            <li><a class="nav-bar__lists__link" href="#">btn</a></li>
            <li><a class="nav-bar__lists__link" href="#">ICON</a></li>
        </ul>
    </nav>
</div>
