<!-- <nav class="nav nav--dark"> //=nav bendras stilius, nav dark tiktai sau
  <ul class="nav__lists">
    <li><a class="nav__lists__link" href="#"></a></li>
  </ul>
</nav>
<nav class="nav nav--light"> //=nav bendras stilius, nav light tiktai sau nes kazka
  <ul class="nav__lists">
    <li><a class="nav__lists__link" href="#"></a></li>
  </ul>
</nav> -->



<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li>
              <a class="nav-bar__lists__link" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
                <span>TITLE</span>
              </a>
            </li>

        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">
            <li class="nav-bar__lists__link">
              <a href="#" id="burger">
                <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
              </a>
          </li>
        </ul>
        <ul class="nav-bar__lists nav-bar__lists--right">
          <li class="nav-bar__lists__link">
            <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="svg-icon">
         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu2"></use>
              </svg>
            </a>
              <div class="dropdown-menu" aria-labelledby="activities">
                <a class="dropdown-menu__item" href="#">
                  <div class="circle">
                    <svg class="svg-icon">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu2" style="fill: black"></use>
                    </svg>
                  </div>
                  <div class="dropdown-menu__item__title">
                    <h5>Robert</h5>
                    <p>1 min</p>
                  </div>
                </a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
              </div>

          </li>
            <li class="nav-bar__lists__link">
              <a href="#" role="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="svg-icon">
           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu3"></use>
                </svg>
              </a>
                <div class="dropdown-menu" aria-labelledby="profile">
                  <a class="dropdown-menu__item" href="#">Profile1</a>
                  <a class="dropdown-menu__item" href="#">Profile2</a>
                  <a class="dropdown-menu__item" href="#">Profile3</a>
                </div>
            </li>
              <li class="nav-bar__lists__link">
                <a href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg class="svg-icon">
             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu4"></use>
                  </svg>
                </a>
                  <div class="dropdown-menu" aria-labelledby="notification">
                    <a class="dropdown-menu__item" href="#">Notification1</a>
                    <a class="dropdown-menu__item" href="#">Notification1</a>
                    <a class="dropdown-menu__item" href="#">Notification1</a>
                  </div>
              </li>
              <li class="nav-bar__lists__link">
                <a href="#" role="button" id="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="boxes__image navbar__user__image" src="assets\images\user1.jpg" alt="">
                </a>
                  <div class="dropdown-menu" aria-labelledby="notification">
                    <h6>Welcome ! John</h6>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profileSvg" style="fill: #3C5A99"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Profile</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profileSvg" style="fill: #3C5A99"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Settings</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profileSvg" style="fill: #3C5A99"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Lock Screen</h6>
                            </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">
                            <div class="circle">
                                 <svg class="svg-icon">
                                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profileSvg" style="fill: #3C5A99"></use>
                                 </svg>
                            </div>
                            <div class="dropdown-menu__item__title">
                                 <h6>Logout</h6>
                            </div>
                    </a>
                  </div>

              </li>
        </ul>
    </nav>
</div>
