<div class="side-menu">
<ul class="side-menu__lists side-menu-title">
  <li class="side-menu__lists_list">Main</li>
</ul>
<ul class="side-menu__lists">
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      Menu
    </a>
  </li>
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      Menu
    </a>
  </li>
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      Menu
    </a>
  </li>
</ul>
</div>
