<div id="side-menu" class="side-menu">
<ul class="side-menu__lists side-menu__title">
  <li class="side-menu__lists_list">Main</li>
</ul>
<ul class="side-menu__lists">
  <li class="side-menu__lists__list {{#is custom_basename 'dashboard'}} active{{/is}}">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      <span>{{default.sidenav.main}}</span>
    </a>
  </li>
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      <span>{{default.sidenav.dashboard}}</span>
    </a>
  </li>
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      <span>{{default.sidenav.uikit}}</span>
    </a>
  </li>
</ul>
<ul class="side-menu__lists side-menu__title">
  <li class="side-menu__lists_list">Extras</li>
</ul>
<ul class="side-menu__lists">
  <li class="side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu5"></use>
      </svg>
      <span>{{default.sidenav.extras}}</span>
    </a>
  </li>
</ul>
</div>
