<div class="section-title" style="margin-bottom: 9px; padding-top: 9px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        {{#is custom_basename 'dashboard'}}Welcome !{{/is}}
        {{#is custom_basename 'profile'}}Profile{{/is}}
      </div>
      <div class="col-sm-6 section-title__nav text-right">
        <span><a href="/dashboard.html">Minton</a></span>
        <a href="" id="basename"></a>
      </div>
    </div>
  </div>
</div>
