.login{
  background: white;
  &__title{
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $default-icon-color;
    svg{
      fill: $default-icon-color;
    }
  }
  &__form{
    &__item{
      position: relative;
      margin-bottom: 20px;
      @include default-input();
      button{
        width: 100%;
      }
      &--checkbox{
        display: flex;
        margin-top: 20px;
      }
      &__button{
        @include default-button();
      }
      }

  }
}
