@font-face{
  font-family: 'Roboto';
  font-weight: 700;
  src:url("../fonts/Roboto-Bolt.ttf");
}
@font-face{
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/Roboto-Regular.ttf");
}
