.section-container {
  margin-top: $nav-height;
  margin-left: $nav-left-width;
  &--closed{
    margin-left: 80px;
  }
}
.section-title{
  &__nav{
    a{
      &:first-of-type{
        &:after{
          content: '/'
        }
      }
    }
  }
}
.boxes {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px;
  .circle{
    @include circle();
  }
  &__title {
    text-align: left;
  }
  &--right{
    text-align: right;
  }
  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    -o-object: cover;
  }
  &--flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__user-info{
    margin-left: 20px;
    p{
      &:first-of-type{
        color: blue;
      }
    }
  }
}
.user-role {
  &--user{
    color: $color-user;
    font-weight: 600;
  }
  &--admin{
    color: $color-admin;
    font-weight: 600;
  }
  &--master{
    color: $color-master;
    font-weight: 600;
  }
}
