$default-bg: blue;
$nav-height: 80px;
$nav-left-width: 240px;
$nav-right-width: 1100px;
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) ;
$border-radius: 3px;
$bg-color: #ababab;
$light-gray: #000;
$color-success: rgba(102, 187, 106, 0.75);
$color-success-al: rgba(102, 187, 106, 0.35);
$color-primary: rgba(102, 150, 106, 0.75);
$color-primary-al: rgba(102, 150, 106, 0.35);
$color-danger: rgba(238, 110, 115, 0.75);
$color-danger-al: rgba(238, 110, 115, 0.35);
$color-secondary: rgba(156, 39, 176, 0.75);
$color-secondary-al: rgba(156, 39, 176, 0.75);
