<!-- <div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-3 col-md-6 " style="background: gray;">  //large screene kad butu
        COLrewhfewfdiewjfewifjweiofjewfewfwefwe
        wefwehfuewjfiewjfiewfjweifjweoif
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>

</div>

<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-3 col-md-6 " style="background: gray;">  //large screene kad butu
        COLrewhfewfdiewjfewifjweiofjewfewfwefwe
        wefwehfuewjfiewjfiewfjweifjweoif
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>

</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-3">
      <div class="boxes boxes--right">
        <div class="row">
          <div class="col-4">
          <div class="circle circle--border circle--success">
            <svg class="svg-icon">
       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu6"></use>
            </svg>
          </div>

        </div>
        <div class="col-8 v-align">
          <h5>64,570</h5>
          <p>Todays visits</p>
        </div>
      </div>
      </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="boxes boxes--right">
      <div class="row">
        <div class="col-4">
        <div class="circle circle--border circle--primary">
          <svg class="svg-icon">
     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu7"></use>
          </svg>
        </div>

      </div>
      <div class="col-8 v-align">
        <h5>64,570</h5>
        <p>Todays visits</p>
      </div>
    </div>
    </div>
</div>

<div class="col-lg-6 col-xl-3">
  <div class="boxes boxes--right">
    <div class="row">
      <div class="col-4">
      <div class="circle circle--border circle--danger">
        <svg class="svg-icon">
   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu8"></use>
        </svg>
      </div>

    </div>
    <div class="col-8 v-align">
      <h5>64,570</h5>
      <p>Todays visits</p>
    </div>
  </div>
  </div>
</div>

<div class="col-lg-6 col-xl-3">
  <div class="boxes boxes--right">
    <div class="row">
      <div class="col-4">
      <div class="circle circle--border circle--secondary">
        <svg class="svg-icon">
   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu9"></use>
        </svg>
      </div>

    </div>
    <div class="col-8 v-align">
      <h5>64,570</h5>
      <p>Todays visits</p>
    </div>
  </div>
  </div>
</div>


</div>


<div class="row">
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Yearl sales report</h6>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="boxes">
                <h6 class="boxes__title">Total revenue</h6>
                <canvas id="myChart3"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="boxes">
                <h6 class="boxes__title">Latest projects</h6>
                <p class="boxes__subheading">Your awesome text goes here.</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="boxes boxes--flex">
                        <img class="boxes__image" src="assets/images/user1.jpg" alt="user picture">
                        <div class="boxes__user-info v-align">
                        <h6>John</h6>
                        <p>john@gmail.com</p>
                        <p>Admin</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                  <div class="boxes boxes--flex">
                      <img class="boxes__image" src="assets/images/user2.jpg" alt="user picture">
                      <div class="boxes__user-info v-align">
                      <h6>Mark</h6>
                      <p>mark@gmail.com</p>
                      <p>Admin</p>
                      </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="boxes boxes--flex">
                      <img class="boxes__image" src="assets/images/user3.jpg" alt="user picture">
                      <div class="boxes__user-info v-align">
                      <h6>David</h6>
                      <p>david@gmail.com</p>
                      <p>Admin</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
