<!-- <div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-3 col-md-6 " style="background: gray;">  //large screene kad butu
        COLrewhfewfdiewjfewifjweiofjewfewfwefwe
        wefwehfuewjfiewjfiewfjweifjweoif
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-lg-3 col-md-6" style="background: gray;">
        COL
      </div>

</div>

<div class="container" style="margin-top: 100px;">
  <div class="row">
      <div class="col-lg-3 col-md-6 " style="background: gray;">  //large screene kad butu
        COLrewhfewfdiewjfewifjweiofjewfewfwefwe
        wefwehfuewjfiewjfiewfjweifjweoif
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>
      <div class="col-md-6" style="background: gray;">
        COL
      </div>

</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
          <div class="circle circle--success">
            <svg class="svg-icon">
       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu6"></use>
            </svg>
          </div>

        </div>
        <div class="col-8 v-align">
          <h5>64,570</h5>
          <p>Todays visits</p>
        </div>
      </div>
      </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="boxes">
      <div class="row">
        <div class="col-4">
        <div class="circle circle--primary">

        </div>

      </div>
      <div class="col-8 v-align">
        <h5>64,570</h5>
        <p>Todays visits</p>
      </div>
    </div>
    </div>
</div>

<div class="col-lg-6 col-xl-3">
  <div class="boxes">
    <div class="row">
      <div class="col-4">
      <div class="circle circle--danger">

      </div>

    </div>
    <div class="col-8 v-align">
      <h5>64,570</h5>
      <p>Todays visits</p>
    </div>
  </div>
  </div>
</div>

<div class="col-lg-6 col-xl-3">
  <div class="boxes">
    <div class="row">
      <div class="col-4">
      <div class="circle circle--secondary">

      </div>

    </div>
    <div class="col-8 v-align">
      <h5>64,570</h5>
      <p>Todays visits</p>
    </div>
  </div>
  </div>
</div>
  </div>
</div>
