---
layout: login.hbs
---
<div class="container perfect-center">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="login">
        <div class="login_title">
          svg
          <div class="login_form">
            <form class="login-form" name="login-form" action="dashboard.html" method="post">
              <div class="login__form__item">
                <input type="email" name="email" value="" required="required">
                <label class="label-inside" for="email">Email</label>
              </div>
              <div class="login__form__item">
                <input type="password" name="password" value="" required="required">
                <label class="label-inside" for="password">Password</label>
              </div>
              <div class="login__form__item login__form__item--checkbox">
                <div class="checkbox">
                  <input id="remember" type="checkbox" name="remember" value="" required="required">
                  <label for="remember">Remember me</label>
                </div>
              </div>
              <div class="login__form__item">
                <button class="login__form__button button button--full-width" type="button" name="button">Login</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
