.sidenav-right{ //GERIAU REIKEJO SUSIKURTI HTML  KLASE SIDE-MENU IR VISKA NUSIKELTI I VIENA FAILA SIDENAV
  width: 240px;
  right: -250px;
  position: fixed;
  transition: $transition;
  &__tab-activity{
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    border-left: 5px solid #222;
    &__content{
      padding-left: 20px;
      position: relative;
      h6{
        padding-bottom: 20px;
        margin-bottom: 0px;
      }
      &:before{
        content: "";
        position: absolute;
        top: 5px;
        left: -10px;
        width: 16px;
        height: 10px;
        background: #fff;
        border: 2px solid #222;
        border-radius: 50%;
      }

      }
  }

  &__tab-settings{
    &__content{
      .notifications, .api-access, .auto-updates, .online-status{
        justify-content: space-between;
        display: flex;
        padding: 15px;
        .custom-switch{
        }
        .notifications__name{
          h6{
            font-size: 15px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
    &--open{
      display: block;
      top: 80px;
      width: 240px;
       background: white;
       right: 0px;
       height: 100%;
       position: fixed;
       overflow: scroll;
       z-index: 999;
       transition: $transition;
  }
}
.sidenav-right .nav-tabs .nav-item .active{
    border-bottom: 2px solid blue;
}
