.notification_tabs{
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   top: 80px;
   width: 240px;
   background: white;
   right: 0px;
   height: 100%;
   position: absolute;
   z-index: 999;
}
